@keyframes crossout {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 100%; }
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  .animation-container {
    font-size: 24px;
    position: relative;
  }
  
  .location {
    position: relative;
    display: inline-block;
    animation: fadeIn 4s infinite;
    transition: all 0.5s ease; /* Smooth transition for the crossing effect */
  }
  .crossed {
    text-decoration: line-through; /* Cross out the text */
    color: #F0D732; /* Change color of crossed-out text */
  }
  .red-question-mark {
    color: #FF1700;
    font-size: 24px;
  }
  .cross-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: black; /* Default color, will be overridden */
  }

  .location-wrapper:last-child .location {
    color: #FF1700;
  }
