body {
    background-color: #F5F5F5; /* Set your desired background color #FFF7CE */
    color: #161616; /* Set your desired default text color */
    font-family: 'Inter', sans-serif;
  }

@font-face {
    font-family: 'IkeaFont';
    src: url('./../fonts/Nikea-Font/NIKEA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  