@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.about {
  font-family: 'Inter', sans-serif;
  padding: 10%
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text {
  width: 55%;
}

.about-text h2 {
  font-weight: 450;
  font-size: 6vw;
}

.more-desc {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 36px;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between tags */
}

.tag {
  background-color: #FFFFFF; /* Light background */
  color: #333; /* Text color */
  padding: 5px 10px; /* Padding for tags */
  border-radius: 15px; /* Rounded corners */
  font-size: 14px; /* Font size */
}


.more-more-desc {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.more-more-desc h3 {
  color: #0438C6;
}

.more-more-desc p {
  font-style: italic; /* Italicizes the text */
  line-height: 0;
}

.more-more-title {
  width: 100%;
  border-bottom: 2px solid #ccc; /* Adds a bottom border */
  padding-bottom: 8px; /* Adds spacing between the border and content */
  margin-bottom: 16px; /* Adds spacing between the title and the content below */
  text-transform: uppercase;
  font-weight: 600;

  color: #263C5A;
}


/* .sectiontitle {
    min-width: 20vw;
    margin-right: 20px;
    color: #0438C6;
    font-size: 2vw;
    font-family: 'AlexRoss';
}

.items {
  min-width: 57vw;
  color: #0438C6;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}



.experience-desc {
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.desc {
  margin-left: 4vw;
  gap: 36px;
  font-size: 1vw;
}

.jobtitle {
  font-family: 'AlexRoss';
  font-size: 2vw;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  color: #333;
}

.section-icon {
  width: 5vw;
}

.introText {
  font-size: 1vw;
} */




/* .experience-item, .project-item, .education-item, .skill-item {
  margin-bottom: 2rem;
}

.date {
  color: #666;
  font-style: italic;
}

ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
 */






