.about-container {
  font-family: Arial, sans-serif;
  padding: 10%
}

.experience-section, .projects-section, .skills-section, .education-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    text-align: left;
    gap: 1vw;
}



.sectiontitle {
    min-width: 20vw;
    margin-right: 20px;
    color: #0438C6;
    font-size: 2vw;
    font-family: 'AlexRoss';
}

.items {
  min-width: 57vw;
  color: #0438C6;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.skill-items {
  min-width: 57vw;
  color: #0438C6;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  gap: 36px;
}


.experience-desc {
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.desc {
  margin-left: 4vw;
  gap: 36px;
  font-size: 1vw;
}

.jobtitle {
  font-family: 'AlexRoss';
  font-size: 2vw;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  color: #333;
}

.section-icon {
  width: 5vw;
}

.introText {
  font-size: 1.2vw
}
.intro-section h1 {
  font-family: 'AlexRoss';
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.intro-section h2 {
  font-family: 'AlexRoss';
  font-size: 2rem;
  color: #0438C6;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  gap: 5rem;
  margin-bottom: 100px;
}

.about-image {
  flex-shrink: 0;
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.experience-item, .project-item, .education-item, .skill-item {
  margin-bottom: 2rem;
}

.date {
  color: #666;
  font-style: italic;
}

ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}



.tags {
  display: flex;
  flex-wrap: wrap; /* Allow tags to wrap to the next line */
  gap: 10px; /* Space between tags */
}

.tag {
  background-color: rgba(0, 0, 0, 0.1); /* Light background */
  color: #333; /* Text color */
  padding: 5px 10px; /* Padding for tags */
  border-radius: 15px; /* Rounded corners */
  font-size: 14px; /* Font size */
}


