body {
    background-color: #FFFDF8; /* Set your desired background color #FFF7CE */
    color: #161616; /* Set your desired default text color */
    font-family: 'Crimson', sans-serif;
    font-size: 20px; 
  }


@font-face {
  font-family: 'AlexRoss';
  src: url('./../fonts/Alexross-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./../fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree-Italic';
  src: url('./../fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-bold';
  src: url('./../fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-bold-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson';
  src: url('./../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-semibold';
  src: url('./../fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-semibold-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('truetype');
}








b {
  background-color: rgba(143, 211, 213, 0.35);
  padding: 2px 4px;         /* Optional: Add padding for a better highlight effect */
  border-radius: 10px;       /* Optional: Add rounded corners for a softer look */
  font-weight: 600; 
}

.AppContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least full height */
}

.HeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw 0 3vw;
}

.Logo {
  height: 8rem; /* Adjust logo size */
}

.Menu {
  display: flex;
  gap: 30px; /* Space between menu items */
}

.MenuItem {
  color: #fe5204;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Crimson-italic';
  font-weight: 100px;
  padding: 10px 15px;
  &:hover {
    text-decoration: underline;
  }
}

  

.FooterContainer{
  text-align: center;
  width: 100%;
  margin-bottom: 2vh;
  gap: 20px;
}

.FooterText {
  padding-bottom: 10vh;
  font-family: 'Crimson-semibold';
  font-family: 'Crimson-semibold-italic';
  color: #fe5204;
  gap: 20px;

}
.FooterText2 {
  margin-top: 2vh;
}


.bottom-text {
  font-family: 'Crimson';
}


@media (max-width: 768px) {

  .Logo {
    height: 4rem; /* Adjust logo size */
  }

  .Menu {
    display: flex;
    gap: 15px; /* Space between menu items */
  }

  .MenuItem {
    color: #fe5204;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Crimson-italic';
    padding: 0;
  }

  .FooterContainer{
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
    font-size: 0.9rem;
  }
  

}





