body {
    background-color: #FFFDF8; /* Set your desired background color #FFF7CE */
    color: #161616; /* Set your desired default text color */
    font-family: "Inter", sans-serif;
    font-size: 20px; 
    max-width: 100vw;
  }

  html {
    scroll-behavior: smooth;
  }

 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'AlexRoss';
  src: url('./../fonts/Alexross-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cousine';
  src: url('./../fonts/Cousine/Cousine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cousine-bold';
  src: url('./../fonts/Cousine/Cousine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cousine-bold-italic';
  src: url('./../fonts/Cousine/Cousine-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cousine-italic';
  src: url('./../fonts/Cousine/Cousine-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./../fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree-Italic';
  src: url('./../fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-bold';
  src: url('./../fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-bold-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson';
  src: url('./../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-semibold';
  src: url('./../fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Crimson-semibold-italic';
  src: url('./../fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('truetype');
}


.AppContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least full height */
  margin-left: 15vw;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.LeftNavContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LogoContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Logo {
  width: 6rem;
  height: auto;
}

.Menu {
  list-style-type: none;
  display: flex;
  flex-direction: column ;
  justify-content: left;
  gap: 20px; /* Space between menu items */
  padding: 0;
}

.MenuItem {
  display: block;
  color: #fe5204;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Inter';
  width: 100%;
  &:hover {
    text-decoration: underline;
  }
}

.scroll-to-top-btn {
  background-color: white;
  color:  #fe5204;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.scroll-to-top-btn:hover {
  transform: translateY(-7px);
}

  

.FooterContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 10vh;
  gap: 10px;
  font-size: 1rem;
}

.FooterText {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  color: #fe5204;
}

.FooterContainer p {
  padding: 0;
  margin: 0;
}


@media (max-width: 768px) {
  .Logo {
    height: 5rem; /* Adjust logo size */
    width: auto;
  }

  .LeftNavContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13%;
    display: flex;
    flex-direction: column;
    padding: 4%;
  }

  .topnav {
    padding: 2%;
  }
  
  .Menu {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between menu items */
  }

  .MenuItem {
    color: #fe5204;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }

  .FooterContainer{
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
    font-size: 1.2rem;
  }

  .AppContainer {
    margin-left: 15%;
  }
  

}





