body {
    background-color: #F5F5F5; /* Set your desired background color #FFF7CE */
    color: #161616; /* Set your desired default text color */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }

@font-face {
    font-family: 'IkeaFont';
    src: url('./../fonts/Nikea-Font/NIKEA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

b {
  background-color: #8FD3D5; /* Blue with 20% opacity */ /* Set the background color to blue */
  padding: 2px 4px;         /* Optional: Add padding for a better highlight effect */
  border-radius: 10px;       /* Optional: Add rounded corners for a softer look */
  font-weight: 600; 
}

.AppContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least full height */
}

.HeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 2vw;
}

.Logo {
  height: 80px; /* Adjust logo size */
}

.Menu {
  display: flex;
  gap: 20px; /* Space between menu items */
}

.MenuItem {
  color: #FF1700;
  text-decoration: none; /* Remove underline */
  font-size: 1.2vw;
  
  &:hover {
    text-decoration: underline; /* Add underline on hover */
  }
}
  

.FooterContainer{
  color: #FF1700;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.FooterText {
  margin: 0;
  color: #FF1700;
  font-family: 'IkeaFont', sans-serif;
}