@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .LopGalleryContainer {
    display: flex;
    padding: 1vh;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .LopImageItem {
    margin: 0 2vw 0 2vw;
    position: relative;
    animation: rotate linear infinite;
    transition: transform 0.3s ease;
  }
  
  .LopImageItem:hover {
    animation-play-state: paused;
    transform: scale(1.2);
  }
  
  .LopImage {
    width: 6vw;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    .LopImageItem {
      margin: 0 4vw 0 4vw;
      display: flex;
      align-items: center;
      animation: rotate linear infinite;
      transition: transform 0.3s ease;
    }
    .LopImage {
      width: 12vw;
      height: auto;
      object-fit: cover;
    }
  }
  
  