.GalleryContainer {
  max-width: 120vw;
  margin: 3vw auto;
  margin-bottom: 20vh;
  padding: 0 40px;
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8vw;
}

.ImageItem {
  position: relative;
  margin-bottom: 10vh;
  color: black;
  transition: transform 0.3s ease;
}

.ImageOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10;
  padding: 10px;
  transition: transform 0.3s ease;
  opacity: 1; /* Set this to 1 */
}

.Tags {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 3px 6px;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

.Title {
  font-weight: 600;
  margin-right: 20px;
  padding: 3px 6px;
  font-size: 1.5rem;
}

.Company {
  padding: 3px 6px;
}

.ImageItem:hover img,
.ImageItem:hover .ImageOverlay {
  transform: scale(1.014);

  transition: transform 0.1s ease;
}

.staticimage {
  width: 32vw;
  height: auto;
}


@media (max-width: 768px) {
  .GridContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 9vh;
  }
  .staticimage {
    width: 65vw;
    height: auto;
  }
  
}

