.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  color: #766459;
  gap: 10vh;
  font-size: 1rem;
  margin-bottom: 20vh;
}

b {
  font-weight: 600; 
  color: black;
  font-family: 'Crimson-semibold', sans-serif;
  font-size: 1.2rem;
}


.header-image {
  width: 100%;
  margin-bottom: 60px;
}

.project-title {
  font-family: 'Crimson-bold', sans-serif;
  font-size: 4rem;
  color: black;
}


.project-summary {
  font-family: 'Crimson-italic', sans-serif;
  font-size: 1.2rem;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 20vh;
  text-align: left;
  border-top: 1px solid #766459;
}

.info-item {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 0;
  color: #766459;
}

.info-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Crimson-semibold-italic', sans-serif;
  color: black;
}

.info-content {
  font-size: 1.1rem;
  line-height: 1.6;
}

.section {
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 2vh;
  font-family: 'Crimson-semibold-italic', sans-serif;
  position: sticky;
  top: 15vh;
  align-self: flex-start;
  border-top: 1px solid #766459;
  background-color: #FFFDF8; /* Set your desired background color #FFF7CE */

  width: 100%;
  z-index: 1000;
  top: 0;
  padding-top: 6vh;
  padding-bottom: 2vh;
  margin-top: 20px;
}

.flex-container {
  flex: 1;
  gap: 20px;
  margin-left: 12vw;
}

.subsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 2vh;
  gap: 3px;
}

.subsection-title {
  font-size: 1.5rem;
  font-family: 'Crimson-bold-italic', sans-serif;
  margin-top: 10vh;
  margin-bottom: 0;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 7px;
}

.paragraph svg {
  margin-right: 10px;
}

.team-photo {
  object-fit: cover;
  margin-bottom: 2vh;
}

.photoDescription {
  text-align: center;
  color: #161616;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.center-align {
  text-align: center;
}

.figma-prototype {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 8vh;
}

.figma-prototype iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slidepng {
  transition: transform 0.3s ease-out;
  border-radius: 30px;
  border: 1.2px solid #000000;
}

.slidepng-container {
  overflow: hidden;
  border-radius: 30px;
}

.slideshow-container {
  position: relative;
  display: flex;
  border-radius: 30px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sli {
  width: 100%;
  border: 1.2px solid #000000;
  border-radius: 10px;
}
 


.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s ease-out;
  border-radius: 10px;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
  border: 1.2px solid #000000;
}

.prev {
  left: -20px;
}

.next {
  right: -20px;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mockup-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 5vh;
}

.mockup-box .slidepng-container{
  width: 50%; 
  height: auto;
}

/* Media query for screens with max-width 768px */
@media (max-width: 768px) {
  .container {
    max-width: 80vw;
  }

  .project-title {
    font-family: 'Crimson-bold', sans-serif;
    font-size: 1.5rem;
  }

  .project-desc {
    font-family: 'Crimson-italic', sans-serif;
    font-size: 0.9rem;
  }

  .info-row {
    flex-direction: column;
    margin-bottom: 10vh;
  }

  .info-item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .info-title {
    font-size: 1.2rem;
  }

  .info-content {
    font-size: 1rem;
  }

  .section {
    flex-direction: column;
  }

  .section-title {
    font-size: 1.2rem;
    width: 100%;  
    background-color: #FFFDF8; /* Set your desired background color #FFF7CE */

    width: 100%;
    z-index: 1000;
    top: 0;
    padding-top: 5vh;
  }
  

  .flex-container {
    width: 100%;
    margin: 0;
  }

  .subsection {
   margin: 0;
  }

  .subsection-title {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .photoDescription {
    font-size: 0.8rem;
  }

  .mockup-box {
    flex-direction: column;
  }

  .mockup-box .slidepng-container {
    width: 100%;
  }
}
