.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
}

.header-image {
  width: 100%;
  margin-bottom: 30px;
}

.info-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  text-align: left;
}

.info-item {
  margin-bottom: 20px;
}

.info-title {
  font-size: 5vw;
  margin-bottom: 10px;
  font-family: 'AlexRoss', sans-serif;
}

.info-content {
  font-size: 3.5vw;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

.section {
  margin-bottom: 8vw;
  display: flex;
  flex-direction: row; /* Change to row to place title and content side by side */
  gap: 20px; /* Add gap between title and content */
}

.section-title {
  font-size: 6vw;
  margin-bottom: 2vh;
  font-family: 'AlexRoss', sans-serif;
  position: sticky;
  top: 15vh; /* Adjust this value to set how far from the top the title should stick */
  align-self: flex-start; /* Ensures the title stays at the top of its container */
  width: 30%; /* Adjust the width as needed */
}

.flex-container {
  gap: 20px;
  width: 70%; /* Adjust the width as needed */
}

.subsection {
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.subsection-title {
  font-size: 5vw;
  font-family: 'AlexRoss', sans-serif;
  color: #FF4200;
  margin-bottom: 1vh;
}

.paragraph {
  font-size: 3.5vw;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  margin-bottom: 4vh;
}

.paragraph svg {
  margin-right: 10px;
}

.team-photo {
  object-fit: cover;
  margin-bottom: 5vh;
}

.photoDescription {
  text-align: center;
  color: #161616;
  text-decoration: none;
  display: block;
  font-size: 3vw;
}

.center-align {
  text-align: center;
}

.figma-prototype {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 8vh;
}

.figma-prototype iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.slidepng {
  transition: transform 0.3s ease-out;
  border-radius: 30px;
}

.slidepng-container {
  overflow: hidden;
  border-radius: 30px;
}






@media (min-width: 768px) {
  .container {
    max-width: 80vw;
  }

  .info-row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20vh;
  }

  .info-item {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .info-title {
    font-size: 2vw;
  }

  .info-content {
    font-size: 1.0vw;
  }

  .section {
    flex-direction: row;
  }

  .section-title {
    flex: 0.5;
    font-size: 3vw;
  }

  .flex-container {
    flex: 1;
  }

  .subsection-title {
    font-size: 2.5vw;
  }

  .paragraph {
    font-size: 1.1vw;
  }

  .photoDescription {
    font-size: 14px;
  }
}


.slideshow-container {
  position: relative;
  max-height: 100%;
  border-radius: 30px;
  margin-bottom: 0px;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 30px;
  height: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease-out;
  border-radius: 10px 10px 10px 10px;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

.prev {
  left: -50px; /* Position outside the image on the left */
}

.next {
  right: -50px; /* Position outside the image on the right */
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mockup-box {
  display: flex;
  flex-direction: row;
}

.mockup-box .slidepng-container{
  max-height: 50%;
}

