.GalleryContainer {
  max-width: 120vw;
  margin: 3vw auto;
  padding: 0 20px;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3vw;
}

.ImageItem {
  position: relative;
  margin-bottom: 10vh;
  color: black;
  transition: transform 0.3s ease;
}

.ImageOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10;
  padding: 10px;
  transition: transform 0.3s ease;
  opacity: 1; /* Set this to 1 */
}

.Tags {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 3px 6px;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 1vw;
}

.Title {
  font-weight: bold;
  margin-right: 20px;
  padding: 3px 6px;
  font-size: 1.3vw;
}

.ImageItem:hover img,
.ImageItem:hover .ImageOverlay {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.staticimage {
  width: 35vw;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .GridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .staticimage {
    width: 50vw;
    height: auto;
    border-radius: 25px;
  }
  
}

@media (min-width: 1024px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
