html, body {
  height: 100%;
  margin: 0;
}

.background {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.joImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.tilting-text {
  width: 25vw;
  font-size: 2em; /* Adjust as needed */
  animation: tilt-animation 5s infinite ease-in-out;
  font-family: 'AlexRoss', sans-serif;
  color: #0438C6;
}

@keyframes tilt-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-120deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 2;
}

.left-text {
  text-align: left;
  font-size: 4vw;
  font-family: 'IkeaFont', sans-serif;
  margin-bottom: 20px;
}

.right-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 3vw;
  justify-content: center;
}

.my-name {
  font-size: 8vw;
  font-family: 'AlexRoss', sans-serif;
  margin-bottom: 20px;
}
.right-text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .joImage {
    top: 48%;
    left: 27%;
    width: 42%;
  }

  .text-container {
    flex-direction: row;
  }

  .left-text {
    flex: 0.9;
    font-size: 1.5vw;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .right-text {
    flex: 1;
    font-size: 1vw;
  }

  .my-name {
    font-size: 4vw;
    margin-bottom: 0;
  }
}
