html, body {
  height: 100%;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  gap: 10px;
}

.joImage {
  width: 50%;
  height: 90%;
}

.right-text {
  flex: 1;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}



.tilting-text {
  font-size: 2.2rem; /* Adjust as needed */
  animation: tilt-animation 5s infinite ease-in-out;
  font-family: 'AlexRoss', sans-serif;
  color: #0438C6;
  white-space: nowrap;
}

@keyframes tilt-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-12deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.my-name {
  font-size: 9rem;
  font-family: 'AlexRoss', sans-serif;
  margin-bottom: 20px;
  font-weight: 570;
  white-space: nowrap;
}


@media (max-width: 768px) {

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .joImage {
    width: 80%;
  }
  .my-name {
    font-size: 8rem;
  }

  .right-text {
    flex: 1;
    font-size: 1rem;
  }

}
